h1{
    font-size: 100px;
    padding: 100px;
   
}
.main{
    background-color: rgb(221, 217, 233);
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: center;

}

p {
    font-style: italic;
}